<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{pageTitle}} - SosmedKita</title>
    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    {{!-- Panggil CSS kita --}}
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    {{!-- Panggil Header --}}
    {{> _header}}

    {{!-- Konten Halaman (dibungkus container) --}}
    <main class="container">
      {{{body}}}
    </main>

    {{!-- Panggil Footer --}}
    {{> _footer}}

    {{!-- 
      Panggil JS di akhir body.
      Pastikan file 'themes/default/assets/js/main.js' 
      (yang kita buat di langkah sebelumnya) ada di sana.
    --}}
    <script src="/static/js/main.js"></script>
  </body>
</html>